body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar {
    background-color: #1a1a1a !important;
    border-bottom: 2px solid #39aa5d;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #adebad !important;
}

/* Card Game */
.game-card {
    background-color: #1e1e1e;
    border: 1px solid #2d2d2d;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(36, 222, 147, 0.3);
    border-color: #08c56a;
}

.game-card img {
    height: 200px;
    object-fit: cover;
}

/* Footer */
footer {
    background-color: #1a1a1a;
    border-top: 2px solid #54c49b;
}

/* Nút bấm nổi bật */
.btn-danger {
    background-color: #13b187;
    border: none;
}

.btn-danger:hover {
    background-color: #adadeb;
}
.search-box-custom {
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.search-box-custom .form-control {
    border: none;
    padding-left: 1.5rem;
    background-color: rgba(255, 255, 255, 0.95);
}

.search-box-custom .form-control:focus {
    box-shadow: none;
    background-color: #ffffff;
}

.search-box-custom .btn {
    border-radius: 0 50px 50px 0;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}